body {
    font-family: 'Arial', 'Verdana';
    background: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;
    color: #C4C4C4;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img {
    width: 250px;
    border: 10px #FFFFFF dashed;
    margin: auto;
    display: block;
}

div {
    min-height: 200px;
    padding: 15px;
    border: 3px #FFFFFF solid;
}

.introduction {
    border-radius: 15px;
    margin: 15px 0px;
    line-height: 2;
}

.red {
    background-color: #C12258;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    color: #000;
}

.blue {
    background-color: #00f;
    text-align: left;
    margin-right: 50px;
    border-top: 2px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    padding: 10px;
    color: #FFFFFF;
}

.yellow {
    background-color: #ff0;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    color: #000;
}

.green {
    background-color: #00eb00;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    color:#000;
}

footer {
    border: 5px solid #FFFFFF;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0; 
}
